<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title> Searched food</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
</head>
<body id = "searchedfood">
	<div class="topnav" id="topnav">
		<a class="hvr-bounce-to-bottom" href="./">Home</a> 
		<a class="hvr-bounce-to-bottom" href="/about">About</a> 
		<a class="hvr-bounce-to-bottom" href="/register">Register</a> 
		<a class="hvr-bounce-to-bottom" href="/login">Login</a> 
		<a class="hvr-bounce-to-bottom" href="/addfood">Add food</a> 
		<a class="active" href="/searchfood">Search food</a> 
		<a class="hvr-bounce-to-bottom" href="/updatefood">Update food</a> 
		<a class="hvr-bounce-to-bottom" href="/listfood">List food</a> 
		<a class="hvr-bounce-to-bottom" href="/API">API</a> 
		<a class="hvr-bounce-to-bottom"	href="/logout">Logout</a> 
		<a class="icon" href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
	</div>
	<script>
	         function myFunction() {
	         var x = document.getElementById("topnav");
	         if (x.className === "topnav") {
	             x.className += " responsive";
	         } else {
	             x.className = "topnav";
	         }
	      } 
	</script>

<center><h1 class="searchpage_h1">Food Results Page</h1>
</center>
<br>
<br>
<br>
<br>
<table>  
<tr>
    <th text-align="center" colspan="9">The details of all available foods with the searched keyword are:</th>
</tr> 
	<tr>
                <td><b>Name</b></td>
                <td><b>Typical Values</b></td>
                <td><b>Calories</b></td>
                <td><b>Carbs</b></td>
                <td><b>Fat</b></td>
                <td><b>Protein</b></td>
                <td><b>Salt</b></td>
                <td><b>Sugar</b></td>
		<td><b>Added by</b></td>
                
            </tr>

            <% availablefoods.forEach(function(food){ %>
            <tr>
                <td><%= food.name %></td>
                <td><%= food.typicalValues%> <%= food.unitOfTheTypicalValue %></td>
                <td><%= food.calories %>g</td>
                <td><%= food.carbs %>g</td>
                <td><%= food.fat %>g</td>
                <td><%= food.protein %>g</td>
                <td><%= food.salt %>g</td>
                <td><%= food.sugar %>g</td>
                <td><%= food.username %></td>
            </tr>
            <%}); %>
</table>
<br>
<br>
	<div class="footer">
		<center>
			<p>dcard001@gold.ac.uk</p>
			<p>Created on the fateful year of 2021</p>
		</center>
	</div>
</body>
</html>
